<?xml version="1.0" ?>
<launch>
  <!-- <rosparam param="/rosout/console_level">debug</rosparam> -->

  <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="Handle" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

  <!-- HobMotor node -->
  <node name="AGV_Control" pkg="HubMotor_pkg" type="HubMotor" required="true" output="screen">
    <param name="AGVDataPubEnable" type="bool" value="false" />
    <param name="AGVEncoderOdomPubEnable" type="bool" value="false" />
    <param name="LogDebugEnable" type="bool" value="false"/>
  </node>

</launch>
